nav{
  display: flex;
  font-family: "Ruso One", sans-serif;
  font-size: 2vw;
  box-sizing: border-box;
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

h1{
  color: #fff;
}
