header{
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-family: "DM Sans";
  padding: 0.8vw;
  padding-top: 0;
}

.responsive-box {
  background-color: #4CAF50;
  padding: 2vw;
  border-radius: 2.5vw;
  font-weight: 600;
  box-sizing: border-box;
  padding: 3vw;
  text-transform: uppercase;
  width: 65vw; /* La caja será el 50% del ancho de la pantalla */
  background: linear-gradient(180deg, #FF0303 0%, #FFC903 100%);
  line-height: 0.80;
  letter-spacing: -0.30vw;
}

.responsive-box {
  font-size: 6.5vw;
  color: white;
}
.subinfo{
  font-size: 2.0vw;
  line-height: 0.85;
  letter-spacing: -0.0vw;
  margin: 0;
  margin-top: 6.5vw;
}
.responsive-logo-play{
  width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
  position: relative;
}
.logo{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  left: 0;
  right: 0;
  margin: auto;
}
.contenedor-play-video{
  width: 15vw;
  height: 15vw;
}
.play-video{
  width: 15vw;
  display: flex;
  position: absolute;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  height: 15vw;
  border-radius: 50%;
  border: 0;
  background: #CD0F0F;
  font-size: 1.2vw;
  font-weight: 600;
  color: #fff;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

@media(width < 800px){
  .play-video{
    display: none;
  }
  .contenedor-play-video{
    display: none;
  }
  header {
    flex-direction: column;
  }
  .responsive-logo-play{
    width: 100%;
  }
  .responsive-box{
    width: 100%;
    font-weight: 800;
    padding: 6vw;
    border-radius: 6vw;
  }
  .responsive-box{
    font-size: 10vw;
  }
  .subinfo{
    font-size: 3.5vw;
    margin-top: 20vw;
  }
}

