header{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  background-color: #000;
  font-family: 'MD Sans', sans-serif;
}
h1 , h2 , p {
  margin: 0;
  padding: 0;
}
.button-slide{
  display: flex;
  gap: 0.5vw;
}
.slides-point {
  width: 84%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3vw;
  border-radius: 5vw;
  background-color: #fff;
  align-items: center;
  height: 6vw;
  position: relative;
}
.slides-point .linea{
  width: 75vw;
  height: 0.2vw;
  position: absolute;
  z-index: 5;
  background-color: rgb(180, 180, 180);
}
.contenedor-la{
  width: 75vw;
  height: 0.2vw;
  position: absolute;
}

.slide-navigation{
  display: flex;
  width: 15%;
  background-color: #fff;
  gap: 5vw;
  border-radius: 5vw;
  align-items: center;
  justify-content: center;
}
.slide-navigation button{
  background-color: #fff;
  border: 0;
  cursor: pointer;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  padding: 0;
}
.swiper-guia {
  pointer-events: auto; /* Asegúrate de que sea 'auto' */
}

swiper-container{
  width: 84.5%;
  height: 25vw;
  box-sizing: border-box;
  border-radius: 2vw;
  margin: 0;
  margin-right: auto;
  overflow: hidden;
  background-color: #fff;
}
swiper-slide{
  display: flex;
  gap: 8vw;
  border-radius: 2vw;
  background-color: #fff;
  box-sizing: border-box;
  padding: 3vw;
  padding-right: 8vw;
  justify-content: space-between;
}
swiper-slide h1 {
  display: flex;
  text-transform: uppercase;
  font-size: 1.5vw;
  height: fit-content;
  width: 25vw;
  color: #BB0B0B;
}
.active{
  outline: 1vw solid #ffc8033a;
  transition: width 0.5s ease-in-out; /* Animación suave */
}

swiper-slide h2 {
  text-transform: uppercase;
  width: 40vw;
  text-align: justify;
  line-height: 1.5vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #BB0B0B;
}
.titulo{
  display: flex;
  gap: 0.5vw;
}
.punto{
    display: block;
    margin-top: 0.35vw;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: #BB0B0B;
}

.punto-la{
    display: block;
    width: 1vw;
    height: 1vw;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    background: #BB0B0B;
}

.slides-point .linea-activa {
  position: absolute;
  height: 0.2vw;
  background-color: #BB0B0B;
  z-index: 6;
  transition: width 0.5s ease-in-out; /* Animación suave */
}
.slide-navigation-2{
  display: none;
}
@media (width < 800px) {
  .titulo{
    gap: 2vw;
  }
  .punto{
    width: 5vw;
    height: 4.5vw;
  }
  .slide-navigation-2{
    display: flex;
    justify-content: space-between;
  }
  .slide-navigation-2 button{
    width: 25vw;
    height: 25vw;
    background: #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .slide-navigation-2 button svg {
    width: 8vw;
    height: 8vw;
  }
  .active {
    outline: 3vw solid #ffc8033a;
  }

  .button-slide{
    flex-direction: column;
  }
  .slides-point {
    width: 100%;
    height: 20vw;
    border-radius: 15vw;
  }
  .punto-la {
    width: 3vw;
    height: 3vw;
  }
  .contenedor-la{
    width: 87vw;
  }
  .slides-point .linea{
    width: 87vw;
  }

  swiper-container{
    width: 100%;
    height: 90vw;
    border-radius: 5vw;
    overflow: hidden;
  }
  swiper-slide {
    flex-direction: column;
    border-radius: 5vw; 
    padding: 5vw;
  }
  swiper-slide h1 {
    width: 100%;
    font-size: 6vw;
  }
  swiper-slide h2 {
    font-size: 6vw;
    line-height: 6vw;
    width: 100%;
    font-weight: 500;
    text-transform: initial;
    text-align: left;
  }
  .slide-navigation{
    display: none;
  }
}