header{
  display: flex;
  width: 100%;
  gap: 0.5vw;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  background-color: #000;
  font-family: "DM Sans", sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  width: 47vw;
  height: 49.5vw;
  gap: 0.5vw;
  
}
main button, main a{
  width: 100%;
  height: 8.5vw;
  padding: 0;
  text-transform: uppercase;
}
.punto {
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #000;
  margin-bottom: auto;
  margin-top: 0.2vw;
}
h1, p,h2 {
  margin: 0;
  padding: 0;
}
.info{
  display: flex;
  flex-direction: column;
  height: 40.5vw;
  background-color: #FFC903;
  border-radius: 3vw;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3vw;
}
.titulacion{
  display: flex;
  gap: 0.5vw;
}
.titulacion .punto{
  margin-top: 0.2vw;
}
.marcas{
  border-radius: 3vw;
  background-color: #fff;
  width: 49.5vw;
  height: 49.5vw;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns:8.5vw 8.5vw 8.5vw 8.5vw;
  grid-template-rows: 5vw 5vw 5vw 5vw;
  gap: 3vw 1.5vw;
}
.marcas img{
  width: 8.5vw;
  height: 5vw;
  object-fit: contain;
  object-position: center;
}


.info p, .info h1 {
  text-transform: uppercase;
}
.info h1 {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  font-size: 1.5vw;
  font-weight: 800;

}
.info p {
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 0.9;
}
main button, main a {
  width: 20vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  color: #CD0F0F;
  font-weight: 700;
  background: #FFF;
  border-radius: 10vw;
  border: 0; 
  position: relative;
}
.button-1{
  position: absolute;
  bottom: 0;
  left: 0;
}
.cliente{
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  display: flex;
  width: 100%;
  gap: 0.5vw;
  background: #000;
  font-family: 'DM Sans', sans-serif;
  color: #CD0F0F;
}
.neutroyt{
  width: 69vw;
  background-color: #FFF;
  border-radius: 3vw;
  box-sizing: border-box;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.face{
  width: 27.5vw;
  border-radius: 3vw;
}
.face img{
  width: 100%;
  border-radius: 3vw;
  height: 100%;
  object-position: center;
}
.neutroyt h1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.5vw;
}
.neutroyt .punto {
  background-color: #CD0F0F;
}
.neutroyt h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.8;
  letter-spacing: -0.3vw;
}
.button-2{
  display: none;
}


@media (width < 800px){
  button, main .button-1{
    display: none;
  }
  .button-2 {
    text-decoration: none;
    display: flex;
    border: 0;
    padding: 0;
    width: 100%;
    height: 25vw;
    border-radius: 30vw;
    align-items: center;
    justify-content: center;
    color: #CD0F0F;
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
  }
  header{
    flex-direction: column;
    padding: 1vw;
    padding-top: 0vw;
  }
  main{
    width: 100%;
    height: auto;
  }
  .info{
    height:90vw;
    border-radius: 5vw;
  }
  .info h1 {
    font-size: 7vw;
  }
  .info .punto{
    width: 3vw;
    height: 3vw;
  }
  .info p {
    font-size: 6vw;
  }
  .marcas{
    grid-template-columns:repeat(4, 17vw);
    grid-template-rows: repeat(4, 10vw);
    gap: 6vw 3vw;
    width: 100%;
    height: 90vw;
    border-radius: 5vw;
  }
  .marcas img{
    width: 17vw;
    height: 10vw;
    object-fit: contain;
    object-position: center;
  }
  .cliente{
    flex-direction: column-reverse;
    height: auto;
  }
  .cliente .face{
    width: 100%;
    border-radius: 5vw;
  }
  .face img {
    border-radius: 5vw;
  }
  .cliente .neutroyt{
    width: 100%;
    height: 60vw;
    padding: 7vw;
    border-radius: 5vw;
  }
  .formato{
    display: flex;
    gap: 2vw;
  }
  .cliente .punto{
    width: 5vw;
    height: 5vw;
    align-items: start;
    justify-content: start;
  }
  .cliente h1{
    font-size: 6vw;
    width: 77vw;
    font-weight: 900;
  }
  .cliente h2{
    font-size: 9vw;
  }

}