header{
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: #000;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.relleno{width: 100vw; height: 6vw;}
main{
  width: 100%;
  display: flex;
  gap: 0.5vw;
}
h1, h2 , p{
  margin: 0;
  padding: 0;
}

.flechas{
  display: flex;
  width: 15%;
  background-color: #fff;
  gap: 4vw;
  border-radius: 5vw;
  align-items: center;
  justify-content: center;
}
.flechas button {
  background-color: #fff;
  display: flex;
  border: 0;
  padding: 0;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}
.flechas-2{
  display: none;
}
.titulo{
  width: 85%;
  height: 6vw;
  font-size: 1.15vw;
  color: #BB0B0B;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5vw;
}
swiper-container{
  margin: 0;
  margin-left: auto;
  width: 85%;
  border-radius: 3vw;
}
swiper-slide{
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  padding: 3vw;
  border-radius: 3vw;
  height: 25vw;
}
h1 {
  color: #BB0B0B;
}
.contenedor{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100%;
}
.punto{
  display: block;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #BB0B0B;
}
.contenedor h1 {
  font-size: 1.5vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1vw;
  width:95%;
}
.equipos{
  width: 25vw;
  border-radius: 2.5vw;
}
.descripcion{
  font-size: 2vw;
  display: flex;
  color: #BB0B0B;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5vw;
}

@media (width < 800px){
  main{
    flex-direction: column;

  }
  .flechas-2{
    display: flex;
  }
  .flechas{
    display: none;
  }
  .contenedor{
    gap: 5vw;
  }
  .titulo{
    width: 100%;
    height: 20vw;
    border-radius: 15vw;
  }
  .titulo h1 span{
    display: none;
  }
  .titulo h1{
    font-size: 6vw;
    text-wrap: nowrap;

  }
  .contenedor h1{
    font-size: 7vw;
    width: 100%;
    text-transform: uppercase;
  }
  .contenedor h1 .punto{
    display: none;
  }
  swiper-container{
    width: 100%;
    height: auto;
  }
  swiper-slide{
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
  }
  .equipos{
    width: 100%;
    height: auto;
  }
  .descripcion{
    font-size: 5vw;
    padding-top: 0;
  }
  .flechas-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flechas-2 button svg{
    width: 10vw;
    height: 10vw;
  }
  button{
    border: 0;
    padding: 0;
    background-color: #fff;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
}