header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
  padding-top: 0vw;
  padding: 1vw;
  padding-bottom: 0.5vw;
  position: relative;
  background-color: #000;
  font-family: 'DM Sans', sans-serif;
}
.relleno{
  width: 100%;
  height: 50vw;
}

.estudio{
  position: absolute;
  border-radius: 3vw;
  width: 100%;
  height: 50vw;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  top: 0;
  left: 0;
  z-index: 1;
}
h1, h2 ,p{
  margin: 0;
  padding: 0;
}

header h1 , header h2 {
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
}

header h1{
  font-size: 5vw;
}
header h2 {
  font-size: 1.5vw;
}
.info{
  box-sizing: border-box;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  height: 100%;
}

@media (width < 800px){
  header{
    padding: 2vw;
    padding-bottom: 0;
  }
.info{
  height: 80vw;
  border-radius: 5vw;
  padding: 5vw;
}
  .estudio{
    padding: 2vw;
    padding-bottom: 0;
    height: 80vw;
    object-fit: cover;
    border-radius: 5vw;
    object-position: center;
  }
  header{
    height: auto;
  }
  .info h1{
    font-size: 8vw;
  }
  .info h2 {
    font-size: 4vw;
  }
}