header{
  display: flex;
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  padding-bottom: 0.5vw;
  gap: 0.5vw;
  font-family: "DM Sans", sans-serif;
}
.relleno{
  width: 48.25vw;
    height: 48.25vw;
}
.redes-sociales{
  background-color: #fff;
  width: 28.25vw;
  height: 28.25vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 5vw 5vw;
  grid-template-rows: 5vw 5vw 5vw;
  gap: 1.5vw 3vw;
  border-radius: 3vw;
}
h1,h2,p {
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  flex-direction: column;
  background-color: #CD0F0F;
  width: 68.25vw;
  height: 28.25vw;
  border-radius: 3vw;
  box-sizing: border-box;
  padding: 3vw;
  color: #fff;
  justify-content: space-between;
}
main h1 {
  font-size: 3vw;
  text-transform: uppercase;
  line-height: 0.9;
}
main h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  line-height: 0.9;
}
.redes-sociales img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contenedor{
  display: flex;
  gap: 1vw;
}
.contenedor .punto{
  width: 1.5vw;
  border-radius: 50%;
  height: 1.5vw;
  background-color: #fff;
}
@media (width < 800px){
  header{
    flex-direction: column-reverse;

  }
  main{
    width: 100%;
    height: 85vw;
    padding: 6vw;
    border-radius: 5vw;
  }
  main h1{
    font-size: 6vw;
  }
  main h2{
    font-size: 4vw;
  }
  .contenedor{
    gap: 3vw;
  }
  .contenedor .punto{
    width: 3vw;
    height: 3vw;
  }
  .redes-sociales{
    width: 100%;
    height: 120vw;
  }
  .redes-sociales{
    grid-template-columns: 20vw 20vw;
    grid-template-rows:20vw 20vw 20vw;
    gap: 3vw 5vw;
    border-radius: 3vw;
  }
}