nav{
  font-family: "Ruso One", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 1vw 2vw;
}
h1{
  font-size: 1.5vw;
}
ul{
  font-size: 1vw;
}
a{
  text-decoration: none;
  color: #fff;
}
ul, li{
  list-style: none;
}
ul{
  display: flex;
  gap: 2vw;
}