header{
  display: flex;
  box-sizing: border-box;
  padding: 1vw;
  padding-top: 0;
  font-family: 'DM Sans', sans-serif;
  background: #000;
  gap: 0.5vw;
}
h1, h2, p{
  margin: 0;
}
.cuadro-rojo{
  display: flex;
  background-color: #BB0B0B;
  width: 32.5vw;
  height: 32.5vw;
  border-radius: 3vw;
}

main{
  padding: 3vw;
  width: 64.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  background: #fff;
  border-radius: 3vw;
}
label{
  display: flex;
}
main h1{
  font-size: 3vw;
  color: #BB0B0B;
}
input {
  border-radius: 5vw 0 0 5vw;
  width: 80%;
  height: 4vw;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0.2vw solid gray;
  box-sizing: border-box;
  padding-left: 2vw;
}
input::placeholder{
  color: #BB0B0B;
  font-weight: bold;
  font-size: 2.5vw;
}
.boton{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 0 5vw 5vw 0;
  background-color: #BB0B0B;
  outline: 0.2vw solid #BB0B0B;
  font-size: 1vw;
  width: 8vw;
  height: 4vw;
}

main p {
  font-size: 1vw;
  color: #BB0B0B;
  font-weight: 700;
}
.contenedor{
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.flecha{
  display: none;
}
@media (width < 800px){

  header{
    flex-direction: column;
    width: 100%;
  }
  label{
    position: relative;
  }
  .boton{
    display: none;
  }
  .flecha{
    display: block;
    position: absolute;
    right: 8.5vw;
    top: 0vw;
  }
  .flecha{
    background-color: #BB0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  }
  .cuadro-rojo{
    width: 100%;
    height: 85vw;
  }
  .contenedor{
    gap: 10vw;
  }
  main{
    width: 100%;
    box-sizing: border-box;
    gap: 10vw;
  }
  main h1 {
    font-size: 6vw;
  }
  input::placeholder{
    font-size: 6vw;
  }
  input{
    height: 19vw;
    padding-left: 5vw;
    border-radius: 10vw 0 0 10vw;
  }
  .boton{
    height: 19vw;
    border-radius: 0 10vw 10vw 0;
  }
  main p{
    font-size: 4vw;
  }
} 